body {
    background: #ffbf00;
    color: #442d25;
    margin:0px;
    padding:0px;
    height: 100%;
}

.maket {
    width:300px;
    margin:0 auto;
    min-height: 100%;
    border: solid 3px black;
    }

#kos {
height: 73px;
}

#footer {
    background-color: #241403;
    color: #ffffff;
    text-align: center;
    font-family: Palatino, URW Palladio L, Times, Times New Roman, serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 170%;
    clear:both;
    height: 73px;
    margin-top:-73px;
    width:100%;
}