.container {
    background: #ffbf00;
    color: #442d25;
    height: 100%;
    margin: 0;

}

header {
    background: maroon;
    font-size: 30px;
    color: antiquewhite;
}

footer {
    
    background-color: #241403;
    color: #ffffff;
    text-align: center;
    font-family: Palatino, URW Palladio L, Times, Times New Roman, serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 29px;
    clear:both; 
}

footer :first-child {
    font-size: 32px;
    margin: 0%;
}