body { 
    padding: 0; 
    border: 0; 
    grid-gap: 10px;
    height: 100vmin;
    margin: 0;
    border: 4px solid black;
}


.container {
    background: #ffbf00;
    color: #442d25;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header"
    "content nav"
    "footer footer";
    grid-template-rows: 200px 3fr 100px;
    grid-template-columns: 2fr 2fr 1fr;
}

header {
    background: maroon;
   /* border-image: url() */
    font-size: 30px;
    color: antiquewhite;
    grid-column: -4/-1;
}

nav {
    grid-column: 3/4;
}

footer {
    border: 4px solid green;
    background-color: #241403;
    color: #ffffff;
    text-align: center;
    font-family: Palatino, URW Palladio L, Times, Times New Roman, serif;
    font-style: oblique;
    font-weight: 600;
    font-size: 29px;
    clear:both; 
    grid-column: -4/-1;
    grid-row: 3/5;
}

footer>p:first-child {
    font-size: 40px;
    color: #ffbf00;
    margin: 0%;
}