@import url(https://fonts.google.com/?subset=latin&selection.family=Pacifico);

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%; /*Razmer*/
    display: flex;
    background: rgba(255, 215, 0, 0.5);
    line-height: 1.3; /*Rasstoyanie mezdy strokami*/
   /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Pacifico, sans-serif;
    font-size: 16px;
    color: #120E2A;
    background-color: #AD66D5;
}

.header {
    flex: none;
    background-color: #CDD2D5;
    background-image: url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Pacifico; 
    margin: 0;
    min-height: 300px;
    max-width: 1250px;
    width: 92%;
    position: relative;
}