@import url(https://fonts.google.com/?subset=latin&selection.family=Pacifico); /*Popitka podgryzit chrifti. Ne srabotala*/

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%; /*Razmer*/
    display: flex;
    background: rgba(255, 215, 0, 0.5);
    line-height: 1.3; /*Rasstoyanie mezdy strokami*/
   /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: Pacifico, sans-serif;
    font-size: 16px;
    color: #120E2A;
    background-color: #AD66D5;
}

.header {
    display: flex;
    margin: 0;
    height: 700px;
    background-color: #CDD2D5;
    background-image: url(https://images.unsplash.com/photo-1496094964281-6b2e28422c5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: 100%, auto;
    font-family: Pacifico; 
    color: #120E2A;
    text-shadow: 5px 4px 3px #602580;
    justify-content: space-around;
    padding-top: 220px;

   /* max-width: 1250px;
    width: 92%;  Bilo v originale, mne meshaet*/

}

.header h1 {
font-size: 450%;
}

.header h2 {
    padding-top: 20px;
    font-size: 300%;
    color: #48036F;
}