/*@import url(https://fonts.google.com/?subset=latin&selection.family=Pacifico); Popitka podgryzit chrifti. Ne srabotala*/

/*BASE (BODY, MAIN)*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%; /*Razmer*/
    display: flex;
    background: rgba(255, 215, 0, 0.5);
    line-height: 1.3; /*Rasstoyanie mezdy strokami*/
   /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;
    font-size: 20px;
    color: #120E2A;
    background-color: #B7ABE3;
}

/*HEADER*/
.header {
    display: flex;
    margin: 0;
    height: 700px;
    background-color: #CDD2D5;
    background-image: url(https://images.unsplash.com/photo-1496094964281-6b2e28422c5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #120E2A;
    text-shadow: 7px 5px 3px #602580;
    justify-content: space-around;
    padding-top: 220px;
    box-shadow: 0px 10px 18px #1B0F09;

   /* max-width: 1250px;
    width: 92%;  Bilo v originale, mne meshaet*/
}

.header h1 {
font-size: 390%;
}

.header h2 {
    padding-top: 20px;
    font-size: 270%;
    color: #48036F;
}

/*NAVIGATION*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    list-style: none;
    padding: 0;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-image: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 10px 10px #1B0F09; /*POCHEMY-TO NE RABOTAET*/
}

.nav a {
    padding: 15px;
    cursor: pointer;
    text-decoration: none; 
    color: #FFFF40;

}

.nav a.active, .nav a:hover{
    font-size: 40px;
    color: #FFCD00 ;
}

/*FOOTER*/
.footer {
    display: flex;
    height: 200px;
    margin: 0;
    padding: 20px;
    padding-right: 60px;
    
    color: #F5FAFA;
    background-color: #AD66D5;
}

#footer_name {
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
    font-family: 'Domine', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

#footer_links {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#footer_links img {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-right: 17px;
}
#footer_links a {
    text-decoration: none;
}
#footer_links img:hover {
    opacity: 0.8;
}



/*
.footer:last-child {
    font-size: 30px;
}
*/

/*CONTENT*/
.content {
    margin: 40px;
    text-align: justify;
    font-size: 24px;
    
}

/*ABOUT ME*/
/*CV*/
/*PROJETS*/
/*CONTACTS*/