/*@import url(https://fonts.google.com/?subset=latin&selection.family=Pacifico); Popitka podgryzit chrifti. Ne srabotala*/

/*BASE (BODY, MAIN)*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%; /*Razmer*/
    display: flex;
    background: rgba(255, 215, 0, 0.5);
    line-height: 1.3; /*Rasstoyanie mezdy strokami*/
   /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;
    font-size: 20px;
    color: #120E2A;
    background-color: #B7ABE3;
}

/*HEADER*/
.header {
    display: flex;
    margin: 0;
    height: 700px;
    background-color: #CDD2D5;
    background-image: url(https://images.unsplash.com/photo-1496094964281-6b2e28422c5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #120E2A;
    text-shadow: 7px 5px 3px #602580;
    justify-content: space-around;
    padding-top: 220px;
    box-shadow: 0px 10px 18px #1B0F09;

   /* max-width: 1250px;
    width: 92%;  Bilo v originale, mne meshaet*/
}

.header h1 {
font-size: 390%;
}

.header h2 {
    padding-top: 20px;
    font-size: 270%;
    color: #48036F;
}

/*NAVIGATION*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    list-style: none;
    padding: 30px;
    height: 330px;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-image: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 11px #1B0F09 inset;
    
    
    
    /*box-shadow: 0px 8px 19px #1B0F09; 
    Заработало после добавления z-index сюда и в footer*/
    z-index: 200;
}

.nav a {
    padding: 15px;
    cursor: pointer;
    text-decoration: none; 
    color: #FFFF40;

}

.nav a.active, .nav a:hover{
    font-size: 40px;
    color: #FFCD00;
}

/*FOOTER*/
.footer {
    display: flex;
    height: 200px;
    margin: 0;
    padding: 20px;
    padding-right: 60px;
    
    color: #F5FAFA;
    background-color: #AD66D5;

    z-index: 100;
}

#footer_name {
    min-width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
    font-family: 'Domine', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

#footer_links {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#footer_links img {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-right: 17px;
}

#footer_links a {
    text-decoration: none;
}

#footer_links img:hover {
    opacity: 0.7;
}



/*
.footer:last-child {
    font-size: 30px;
}
*/

/*CONTENT*/
.content {
    margin: 40px;
    text-align: justify;
    font-size: 24px;
}

/*CONTACTS*/
#contacts {
margin: 0px;
padding: 0px; 
}




input, textarea {
    color: #A9A9A9;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;


    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC;
    color: #787575;
    border-radius: 5px;
    width: 95%;
    outline: none;
}

input {
    height: 40px;
    
}

textarea {
    height: 150px;
    padding: 8px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#buttom {
    border: 1px solid #5CCCCC;
    background-color: #5CCCCC;
}

/*ABOUT ME*/
/*CV*/
/*PROJETS*/