/*@import url(https://fonts.google.com/?subset=latin&selection.family=Pacifico); Popitka podgryzit chrifti. Ne srabotala*/

/*BASE (BODY, MAIN)*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%; /*Razmer*/
    display: flex;
    background: rgba(255, 215, 0, 0.5);
    line-height: 1.3; /*Rasstoyanie mezdy strokami*/
   /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
}

.main {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    /* font-variant: inherit;
    font-stretch: inherit;
    font-style: inherit;
    text-decoration: inherit;
    Bilo v originalnom saite*/
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;
    font-size: 20px;
    color: #120E2A;
    background-color: #B7ABE3;
}

/*HEADER*/
.header {
    display: flex;
    margin: 0;
    height: 700px;
    background-color: #CDD2D5;
    background-image: url(https://images.unsplash.com/photo-1496094964281-6b2e28422c5c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #120E2A;
    text-shadow: 7px 5px 3px #602580;
    justify-content: space-around;
    padding-top: 260px;
    box-shadow: 0px 10px 18px #1B0F09;


   /* max-width: 1250px;
    width: 92%;  Bilo v originale, mne meshaet*/
}

.header h1 {
    font-size: 390%;
}

.header h2 {
    padding-top: 20px;
    font-size: 270%;
    color: #48036F;
}

/*NAVIGATION*/
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    flex-grow: 1;
    list-style: none;
    padding: 30px;
    height: 330px;
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 35px;
    background-image: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 20px 11px #1B0F09 inset;
    
    
    
    /*box-shadow: 0px 8px 19px #1B0F09; 
    Заработало после добавления z-index сюда и в footer*/
    z-index: 200;
}

.nav a {
    padding: 15px;
    cursor: pointer;
    text-decoration: none; 
    color: #FFFF40;

}

.nav a.active, .nav a:hover{
    font-size: 40px;
    color: #FFCD00;
}

/*FOOTER*/
.footer {
    display: flex;
    height: 200px;
    margin: 0;
    padding: 20px;
    padding-right: 60px;
    
    color: #F5FAFA;
    background-color: #AD66D5;

    z-index: 100;
}

#footer_name {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    font-family: 'Domine', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

#footer_links {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

#footer_links img {
    height: 80px;
    width: 80px;
    margin-left: 40px;
    margin-right: 17px;
}

#footer_links a {
    text-decoration: none;
}

#footer_links img:hover {
    opacity: 0.7;
}



/*
.footer:last-child {
    font-size: 30px;
}
*/

/*CONTENT*/
.content {
    margin: 40px;
    text-align: justify;
    font-size: 26px;
}

h2 {
    margin: 0px;  
    font-family: 'Special Elite', cursive, 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #48036F;
}

/*ABOUT ME*/
#about_me {
margin-top: 20px;
}

#about_me h2 {
    margin-bottom: 10px;
}

/*CV*/
#cv {
    margin-top: 40px;
    padding: 0px; 
}

#competences {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#competences img {
    height: 200px;
    width: 200px;
    margin: 50px;
    margin-left: 70px;
}

/*#competences img:hover {
  opacity: 0.7;
}*/

#competences img:nth-child(2) {
    height: 200px;
    width: 142px;  
}

#competences img:nth-child(3) {
    height: 204px;
    width: 147px;  
}

/*PROJETS*/
#pr_act {
    margin: 0 auto;
    background: url('https://images.unsplash.com/photo-1505842465776-3b4953ca4f44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80') no-repeat center top;
    height: 700px;
    }

#pr_act p {
    opacity: 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 300px;
    text-align: center;
    color: #fff;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;
}

#pr_act:hover p {
    padding-top: 60px;
    margin-left: 229px;
    margin-right: 229px;
    height: 640px;
    opacity: 1;
    background: rgba(0,0,0,0.8);
    cursor: pointer;
}

/*CONTACTS*/
#contacts {
    margin-top: 40px;
    padding: 0px; 
}

#contacts h3 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #48036F;
}

#contacts span {
    font-weight: bold;
    padding-right: 25px; 
}

input, textarea {
    color: #A9A9A9;
    font-family: 'Crimson Text', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',serif;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #DCDCDC;
    background-color: #DCDCDC;
    color: #787575;
    border-radius: 5px;
    width: 95%;
    outline: none;
}

input {
    height: 40px;
}

textarea {
    height: 150px;
    padding: 8px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#button {
    width: 140px;
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px;
    user-select: none;
    padding: 1em 2em;
    outline: none;
    border-radius: 45px / 100%;
    background-image:
     linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
     linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)),
     linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

#button:hover {
    transition: .7s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
  #button:active {
    margin-top: 2px;